<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Love Calculator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            background-image: url("/images/Home.png");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
        }

        .btn-primary {
            background-color: #fd3e7f !important;
            border-color: #fd3e7f;
        }
        .container {
            max-width: 400px;
            text-align: center;
            color: #ff89b1; /* Cor do texto */
        }

        h1 {
            color: #fd3e7f;
            margin-bottom: 30px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .btn-primary {
            width: 100%;
        }

        #resultContainer {
            display: none;
            margin-top: 30px;
        }

        #resultPercentage {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        #resultText {
            font-size: 18px;
        }
    </style>

</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
